	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.about.item }}
				<div class="col-md-4">
					<div class="fh5co-person text-center to-animate">
						<figure><img src="{{ .img }}" alt="{{ .alt }}"></figure>
						<h3>{{ .name | markdownify }}</h3>
						<span class="fh5co-position">{{ .position | markdownify }}</span>
						<p>{{ .description | markdownify }}</p>
						<ul class="social social-circle">
						{{ range .social }}
							<li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
						{{ end }}
						</ul>
					</div>
				</div>
			{{ end }}
			</div>
		</div>
	</section>
