	<section id="fh5co-home" data-section="home" style="background-image: url(https://images.unsplash.com/photo-1503566662755-574ba1c5512c?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=3cb8588cfb4e0a44a40e6196931742c3);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="to-animate">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1>
							<h2 class="to-animate">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slant"></div>
	</section>
